body {
  background-color: gainsboro;
}

.title {
  color: black;
  text-align: center;
  font-size: 32px;
  margin-bottom: 100px;
  margin-top: 100px;
  font-family: "Unbounded", system-ui;
}

.member {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 100px;
  justify-content: center;
}
.member a {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.member a p strong {
  font-size: 24px;
  font-family: "unbounded", system-ui;
  /* font-family: Arial, Helvetica, sans-serif; */
  color: black;
}
.member img {
  width: 200px;
  height: 200px;
  border-radius: 60%;
  background-size: cover;
}

a {
  text-decoration: none;
}

@media (max-width: 1900px) {
  .member {
    flex-direction: column;
    align-items: center;
  }
}
