body{
    background-image: url(https://i.pinimg.com/736x/3d/95/ad/3d95ad7768986d612ef9f7ba0fed154d.jpg);
    background-size: cover;
}

.title {
    color: black;
    text-align: center;
    font-size: 32px;
    margin-bottom: 100px;
    margin-top: 100px;

}

.member {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 100px;
}

.member a {
    margin: 0 10px; /* Adjust margin between images */
}
.member a p strong{
    text-align: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    display: flex;
    justify-content: center;
}
.member img {  
    width: 200px;
    height: 200px;
    border-radius: 60%; /* Make sure to set border-radius to 50% for circular images */
     background-size: cover;
}
 a {
    text-decoration: none;
 }


