body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background: #333;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content_all_box {
    max-width: 600px;
    background-color: #dee4e4;
}

.setHeader {
    display: flex;
    height: 200px;
    width: 100%;
}

.set_all_avt {
    padding: 15px 0px 0 15px;
}

.box_text_first {
    padding-left: 20px;
    padding-top: 10%;
    width: 100%;
}

.avatar_Profile {
    border-radius: 70%;
    border: 3px solid green;
    height: 150px;
    width: 150px;
}


h3 {
    text-align: center;
    color: #000000;
}

.setuptext-all {

}

.text-first {
    font-weight: 550;
    font-size: 16px;
    color: black;
}

.text-last {
    font-weight: 550;
    font-size: 16px;
    color: black;
}

.contact-all {
    display: flex;
    justify-content: center;
}

.contact_chung {
    font-size: 20px;
}

.contact_chung-child {
    padding: 0 20px 10px 20px;
}

.editContact-fb {
    color: #0058a4;
}

.editContact-tt {
    color: #000000;
}
